<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf入门</title>
</head>
<body>

<form th:action="@{/update}" method="post">
    <input name="sid" type="hidden" th:value="${stu.sid}"> <br>
    学号：
    <input name="xuehao" th:value="${stu.xuehao}"><br>
    姓名：
    <input name="sname" th:value="${stu.sname}"><br>
    性别：
    <input name="sex" type="radio" value="0" th:attr="checked=${stu.sex==0?true:false}">男
    <input name="sex" type="radio" value="1" th:attr="checked=${stu.sex==1?true:false}">女<br>
    生日：
    <input type="date" name="sdata" th:value="${#dates.format(stu.sdata,'yyyy-MM-dd')}"><br>
    <input type="submit" value="提交">

</form>
</body>
</html>